@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300;400;700&display=swap');
/**********************
variables
**********************/
$primary: #7c57b4;
$secondary: #f1c50e;
$lightGray: #fdf9f6;
$white: #fff;
$bodyFont: 'Lato',
sans-serif;
$headings: 'Anton',
sans-serif;
$fontSize: 16px;
$transition: .4s ease;
$padding: 70px 0;

/**********************
mixin
**********************/

@mixin flex($justify, $align, $direction, $wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

/**********************
basic styles
**********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $bodyFont;
    font-size: $fontSize;
    line-height: 1.7;
    background: $lightGray;
    color: darken($primary, 20%);
    letter-spacing: 1px;
    ;
}

h1,
h2,
h3,
h4,
h5 {
    color: $primary;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/***header***/
header {
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;

    nav {
        background: $primary;
        padding: 0 50px;
        @include flex(space-between, center, row, wrap);

        h1 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.5rem;
            color: $white;
            transition: $transition;

            &:hover {
                color: $secondary;
            }
        }

        ul {
            @include flex(space-between, center, row, wrap);
            color: $white;

            li {
                margin-left: 20px;
                text-transform: uppercase;
            }

            li a {
                color: $white;
                transition: $transition;

                &:hover {
                    color: $secondary;
                }
            }

        }


    }
}